<header>
  <h1>TinyApp</h1>
</header>


<% if(user) { %>
<h2>
  <%=`${user.email}`%>
</h2>

<form action='/logout' method='POST'>
  <label for='logout'></label>
  <h2>Logout</h2></label>
  <button type="logout" class="btn btn-primary">Logout</button>
</form>
<br>
<br>
<% } else { %>
<a href='/register'>Register</a>
<a href='/login'>Login</a>
<% } %>