<!DOCTYPE html>

<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <p>
    <h2>Update URL
      <p>
        <%= shortURL%> →
        <br>
        <%= longURL%> →
      </p>
      <a href="/urls/<%= shortURL %>"><button>New</button></a>

</body>

</html>